.elementor-258 .elementor-element.elementor-element-c48abee {text-align: center;}
.elementor-258 .elementor-element.elementor-element-c48abee.elementor-widget-heading .elementor-heading-title {color: #006b3a;}
.elementor-258 .elementor-element.elementor-element-c48abee .elementor-heading-title {font-family: "Fjalla One",Sans-serif;font-size: 28px;}
.elementor-258 .elementor-element.elementor-element-9cbd264 {text-align: center;}
.elementor-258 .elementor-element.elementor-element-9cbd264 .elementor-image img {border-style: solid;border-color: #23aa6e;}
.elementor-258 .elementor-element.elementor-element-799e0b3 .elementor-text-editor {text-align: center;}
.elementor-258 .elementor-element.elementor-element-799e0b3 {color: #233526;font-family: "Basic",Sans-serif;font-size: 16px;line-height: 1.2em;}
.elementor-258 .elementor-element.elementor-element-799e0b3 > .elementor-widget-container {padding: 0px 0px 0px 0px;}
.elementor-258 .elementor-element.elementor-element-8611e41 {text-align: center;}
.elementor-258 .elementor-element.elementor-element-8611e41.elementor-widget-heading .elementor-heading-title {color: #006b3a;}
.elementor-258 .elementor-element.elementor-element-8611e41 .elementor-heading-title {font-family: "Fjalla One",Sans-serif;font-size: 28px;}
.elementor-258 .elementor-element.elementor-element-9b1d1d7 {text-align: center;}
.elementor-258 .elementor-element.elementor-element-9b1d1d7 .elementor-image img {border-style: solid;border-color: #23aa6e;}
.elementor-258 .elementor-element.elementor-element-1f1835f .elementor-text-editor {text-align: center;}
.elementor-258 .elementor-element.elementor-element-1f1835f {color: #233526;font-family: "Basic",Sans-serif;font-size: 16px;line-height: 1.2em;}
.elementor-258 .elementor-element.elementor-element-1f1835f > .elementor-widget-container {padding: 0px 0px 0px 0px;}
.elementor-258 .elementor-element.elementor-element-acf0abd {text-align: center;}
.elementor-258 .elementor-element.elementor-element-acf0abd.elementor-widget-heading .elementor-heading-title {color: #006b3a;}
.elementor-258 .elementor-element.elementor-element-acf0abd .elementor-heading-title {font-family: "Fjalla One",Sans-serif;font-size: 28px;}
.elementor-258 .elementor-element.elementor-element-758dde6 {text-align: center;}
.elementor-258 .elementor-element.elementor-element-758dde6 .elementor-image img {border-style: solid;border-color: #23aa6e;}
.elementor-258 .elementor-element.elementor-element-ae162d4 .elementor-text-editor {text-align: center;}
.elementor-258 .elementor-element.elementor-element-ae162d4 {color: #233526;font-family: "Basic",Sans-serif;font-size: 16px;line-height: 1.2em;}
.elementor-258 .elementor-element.elementor-element-ae162d4 > .elementor-widget-container {padding: 0px 0px 0px 0px;}
.elementor-258 .elementor-element.elementor-element-1a6443a {text-align: center;}
.elementor-258 .elementor-element.elementor-element-1a6443a.elementor-widget-heading .elementor-heading-title {color: #006b3a;}
.elementor-258 .elementor-element.elementor-element-1a6443a .elementor-heading-title {font-family: "Fjalla One",Sans-serif;font-size: 28px;}
.elementor-258 .elementor-element.elementor-element-6d76a4b {text-align: center;}
.elementor-258 .elementor-element.elementor-element-6d76a4b .elementor-image img {border-style: solid;border-color: #23aa6e;}
.elementor-258 .elementor-element.elementor-element-29ddb65 .elementor-text-editor {text-align: center;}
.elementor-258 .elementor-element.elementor-element-29ddb65 {color: #233526;font-family: "Basic",Sans-serif;font-size: 16px;line-height: 1.2em;}
.elementor-258 .elementor-element.elementor-element-29ddb65 > .elementor-widget-container {padding: 0px 0px 0px 0px;}